boto3
django-storages
Pillow
pypdf
Django>=4.2,<4.3
django-cors-headers
django-extensions
django-filter>=23.0
djangorestframework>=3.14
djangorestframework-simplejwt>=5.0
django_reverse_admin
django-environ
django-push-notifications
djoser>=2.2
dj-database-url
drf-nested-routers
factory_boy
numpy
opencv-contrib-python-headless
gunicorn
markdown
python-stdnum
psycopg2-binary
setuptools
requests
rest_condition
qrcode
whitenoise
drf-yasg
rule_engine
firebase-admin